$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$gray-0: #333333;

$color-0: #aaaaaa;


$font-primary: 'Roboto', sans-serif;
$mobile-viewport-with-default: 428px; 
$default-font-size: 16px;