<section">
    <div class="container">
        <div class="any-doubt">
            <div class="any-doubt-content">
                <h2 class="any-doubt-content__title title-default">Ficou alguma dúvida? Confira as perguntas frequentes.</h2>
                <a href="" title="Contrate" class="btn btn--solid btn--medium">Ver todas as dúvidas</a>
            </div>
            <ul class='any-doubt-accordion'>
                <li class='any-doubt-accordion__item'>    
                    <div class='any-doubt-accordion__title'>o seguro possui carência?</div>
                    <div class='any-doubt-accordion__data'>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt sem nec purus pulvinar fringilla.</p>
                    </div>
                </li>
                <li class='any-doubt-accordion__item'>
                    <div class='any-doubt-accordion__title'>Preciso fornecer nota fiscal de compra do celular?</div>
                    <div class='any-doubt-accordion__data'>
                        <p>Precisa sim! Este documento é super importante para validarmos todas as informações sobre o seu aparelho. Caso você tenha comprado o seu aparelho fora do Brasil e não possui uma nota fiscal, também aceitamos o recibo da compra em nome do segurado.</p>
                    </div>
                </li>
                <li class='any-doubt-accordion__item'>
                    <div class='any-doubt-accordion__title'>Se o meu aparelho for roubado ou sofrer um acidente,<br> tenho que pagar franquia?</div>
                    <div class='any-doubt-accordion__data' >
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt sem nec purus pulvinar fringilla.</p>
                    </div>
                </li>
                <li class='any-doubt-accordion__item'>
                    <div class='any-doubt-accordion__title'>Como funciona o seguro celular?</div>
                    <div class='any-doubt-accordion__data' >
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt sem nec purus pulvinar fringilla.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>