<section class="my-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card__header card__header--image-head">
                        <picture class="card__image">
                            <source data-srcset="/Content/img/thumb-podcast-1.webp" type="image/webp">
                            <source data-srcset="/Content/img/thumb-podcast-1.jpg" type="image/jpg">
                            <img src="/Content/img/thumb-podcast-1.jpg" alt="teste image" data-srcset="/Content/img/thumb-podcast-1.jpg">
                        </picture>
                    </div>
                    <div class="card__body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in totam mollitia. Saepe ducimus eaque accusantium molestias commodi nihil, eum explicabo quo eligendi odio aperiam. Vitae necessitatibus natus eius nobis.</p>
                    </div>
                    <div class="card__footer">
                        <a class="btn btn--solid" href="http://" target="_blank" rel="noopener noreferrer"><span class="material-icons">face</span>button</a>
                        <a class="btn btn--ghost" href="http://" target="_blank" rel="noopener noreferrer" disabled><span class="material-icons">face</span>button</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__header card__header--image-background">
                        <h3>Card title</h3>
                    </div>
                    <div class="card__body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in totam mollitia. Saepe ducimus eaque accusantium molestias commodi nihil, eum explicabo quo eligendi odio aperiam. Vitae necessitatibus natus eius nobis.</p>
                    </div>
                    <div class="card__footer">
                        <a class="btn btn--solid btn--small" href="http://" target="_blank" rel="noopener noreferrer">button</a>
                        <a class="btn btn--solid" href="http://" target="_blank" rel="noopener noreferrer">button</a>
                        <a class="btn btn--solid btn--larger" href="http://" target="_blank" rel="noopener noreferrer">button</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__header card__header--image-background">
                        <h3>Card title</h3>
                    </div>
                    <div class="card__body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in totam mollitia. Saepe ducimus eaque accusantium molestias commodi nihil, eum explicabo quo eligendi odio aperiam. Vitae necessitatibus natus eius nobis.</p>
                    </div>
                    <div class="card__footer card__footer--dark">
                        <a class="btn btn--solid" href="http://" target="_blank" rel="noopener noreferrer"><span class="material-icons">shopping_cart</span>button</a>
                        <a class="btn btn--ghost btn--light" href="http://" target="_blank" rel="noopener noreferrer"><span class="material-icons">shopping_cart</span>button</a>
                        <a class="btn  btn--ghost btn--light btn--only-icon" href="http://" target="_blank" rel="noopener noreferrer"><span class="material-icons">shopping_cart</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>