<section class="full-container comments-section">
    <div class="container">
        <div class="comments-about-us">
            <h3 class="any-doubt-content__title title-default comments-about-us__title">Veja o que nossos clientes estão falando sobre nós.</h3>
            <div class="glide" id="intro">
                <div data-glide-el="track" class="glide__track">
                  <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="comments-card">
                            <p class="comments-card__title">Título 1</p>
                            <div class="comments-card__stars">
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                            </div>
                            <p class="comments-card__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa nisl. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.<var></var></p>
                            <p class="comments-card__name-date">Nome - 01/01/2021</p>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="comments-card">
                            <p class="comments-card__title">Título 2</p>
                            <div class="comments-card__stars">
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon comments-card__stars-icon--gray">star</span>
                            </div>
                            <p class="comments-card__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa nisl. Lorem ipsum dolor sit amet.</p>
                            <p class="comments-card__name-date">Nome - 01/01/2021</p>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="comments-card">
                            <p class="comments-card__title">Título 3</p>
                            <div class="comments-card__stars">
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon comments-card__stars-icon comments-card__stars-icon--gray">star</span>
                                <span class="material-icons comments-card__stars-icon comments-card__stars-icon comments-card__stars-icon--gray">star</span>
                            </div>
                            <p class="comments-card__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa nisl. Lorem ipsum dolor sit amet.</p>
                            <p class="comments-card__name-date">Nome - 01/01/2021</p>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="comments-card">
                            <p class="comments-card__title">Título 4</p>
                            <div class="comments-card__stars">
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon comments-card__stars-icon--gray">star</span>
                            </div>
                            <p class="comments-card__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa nisl. Lorem ipsum dolor sit amet.</p>
                            <p class="comments-card__name-date">Nome - 01/01/2021</p>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="comments-card">
                            <p class="comments-card__title">Título</p>
                            <div class="comments-card__stars">
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                            </div>
                            <p class="comments-card__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa nisl. Lorem ipsum dolor sit amet.</p>
                            <p class="comments-card__name-date">Nome - 01/01/2021</p>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="comments-card">
                            <p class="comments-card__title">Título</p>
                            <div class="comments-card__stars">
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon comments-card__stars-icon--gray">star</span>
                                <span class="material-icons comments-card__stars-icon comments-card__stars-icon--gray">star</span>
                                <span class="material-icons comments-card__stars-icon comments-card__stars-icon--gray">star</span>
                            </div>
                            <p class="comments-card__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa nisl. Lorem ipsum dolor sit amet.</p>
                            <p class="comments-card__name-date">Nome - 01/01/2021</p>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="comments-card">
                            <p class="comments-card__title">Título</p>
                            <div class="comments-card__stars">
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                                <span class="material-icons comments-card__stars-icon">star</span>
                            </div>
                            <p class="comments-card__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat massa nisl. Lorem ipsum dolor sit amet.</p>
                            <p class="comments-card__name-date">Nome - 01/01/2021</p>
                        </div>
                    </li>
                  </ul>
                </div>
                <div class="glide__row">
                    <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
                        <button class="glide__bullet" data-glide-dir="=0"></button>
                        <button class="glide__bullet" data-glide-dir="=1"></button>
                        <button class="glide__bullet" data-glide-dir="=2"></button>
                        <button class="glide__bullet" data-glide-dir="=3"></button>
                        <button class="glide__bullet" data-glide-dir="=4"></button>
                        <button class="glide__bullet" data-glide-dir="=5"></button>
                        <button class="glide__bullet" data-glide-dir="=6"></button>
                      </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span class="material-icons glide__icon glide__icon----left">arrow_back</span></button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span class="material-icons glide__icon">arrow_forward</span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>