<footer>
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-2 col-6">
                    <span class="logo-footer">logo svg</span>
                </div>
                <div class="col-md-2 col-6">
                    <div class="footer-menu-section">
                        <span class="footer-menu-section__title">Bem Mais Seguro</span>
                        <nav>
                            <ul class="footer-menu">
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="/sobrenos" title="Sobre nós">Sobre nós</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="https://blog.bemmaisseguro.com/" title="Blog">Blog</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Precisa de ajuda">Dúvidas frequentes</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="footer-menu-section">
                        <span class="footer-menu-section__title">Nossos seguros</span>
                        <nav>
                            <ul class="footer-menu">
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="/seguro-celular" title="Celular">Celular</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="/seguro-notebook" title="Notebook">Notebook</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="/seguro-tablet" title="Tablet">Tablet</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="/seguro-smartwatch" title="Smartwatch">Smartwatch</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="/seguro-fone-de-ouvido" title="Fone de ouvido">Fone de ouvido</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="footer-menu-section">
                        <span class="footer-menu-section__title">Fale com a gente</span>
                        <nav>
                            <ul class="footer-menu">
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="/sobrenos" title="Nossos contatos">Nossos contatos</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="mailto:contato@bemmaisseguro.com" target="_blank" title="contato@bemmaisseguro.com">contato@bemmaisseguro.com</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Chat online">Chat online</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Assessoria de imprensa">Assessoria de imprensa</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="footer-menu-section">
                        <span class="footer-menu-section__title">Transparência</span>
                        <nav>
                            <ul class="footer-menu">
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Política de privacidade">Política de privacidade</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Termos de uso">Termos de uso</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Política de cookies">Política de cookies</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="footer-menu-section">
                        <span class="footer-menu-section__title">Minha conta</span>
                        <nav>
                            <ul class="footer-menu">
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Fazer login">Fazer login</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Acionar seguro">Acionar seguro</a>
                                </li>
                                <li class="footer-menu__links">
                                    <a class="footer-menu__link" href="" title="Cancelar seguro">Cancelar seguro</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="legal-text">
                <p class="legal-text__text">A Bem Mais Seguro é uma marca registrada e plataforma de venda de seguros online explorada pela Assurant Seguradora S.A. Os produtos comercializados são garantidos pela Assurant Seguradora S.A., inscrita no CNPJ n° 03.823.704/0001-52, regularmente autorizada pela SUSEP a operar. O registro deste plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação à sua comercialização. Processo SUSEP Seguro de Aparelhos Eletrônicos nº 15414.902134/2013-03. As condições contratuais/regulamento deste produto protocolizadas pela sociedade/entidade junto à SUSEP poderão ser consultadas no endereço eletrônico www.susep.gov.br, de acordo com o número de processo no bilhete de seguro. Central de atendimento ao Segurado 0800 007 0530 e Ouvidoria 0800 771 7266. Localizada na Alameda Rio Negro, 585, 3º andar, Edifício Demini, Alphaville, Barueri, SP CEP 06454-000.</p>
            </div>
            <div class="copyright-social">
                <p class="copyright-social__text">Copyright © Bem Mais Seguro 2021</p>
                <nav>
                    <ul class="menu-social">
                        <li class="menu-social__items">
                            <a href="https://www.facebook.com/bemmaisseguro/" target="_blank" title="Bem Mais Seguro no Facebook" rel="noopener" class="menu-social__link menu-social__link--facebook">Facebook</a>
                        </li>
                        <li class="menu-social__items">
                            <a href="https://instagram.com/BemMaisSeguro" target="_blank" title="Bem Mais Seguro no Instagram" rel="noopener" class="menu-social__link menu-social__link--instagram">Instagram</a>
                        </li>
                        <li class="menu-social__items">
                            <a href="" target="_blank" title="Bem Mais Seguro no Linkedin" rel="noopener" class="menu-social__link menu-social__link--linkedin">Linkedin</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</footer>