<header>
    <section class="first-row-header full-container">
        <div class="container">
            <nav>
                <ul class="first-menu">
                    <li>
                        <a href="" class="first-menu__link" title="Cancele seguro">Cancele seguro</a>
                    </li>
                    <li>
                        <a href="" class="first-menu__link" title="Acionar seguro">Acionar seguro</a>
                    </li>
                    <li>
                        <a href="" class="first-menu__link" title="Dúvidas frequentes">Dúvidas frequentes</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <div class="container">
        <section class="lead-row-header">
            <h2 class="lead-row-header__title"><a href="/" title="bem mais seguro">bem mais seguro</a></h2>
            <span class="material-icons lead-row-header__menu btn-menu-mobile">menu</span>
            <nav class="nav">
                <ul class="lead-menu">
                    <li class="lead-menu__links lead-menu__links--sub">
                        <a class="lead-menu__link"  title="Seguros">Seguros <span class="material-icons lead-menu__icon">expand_more</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a class="sub-menu__link" href="/seguro-celular" title="Celular">Celular</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-notebook" title="Notebook">Notebook</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-tablet" title="Tablet">Tablet</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-smartwatch" title="Smartwatch">Smartwatch</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-fone-de-ouvido" title="Fone de ouvido">Fone de ouvido</a>
                            </li>
                        </ul>
                    </li>
                    <li class="lead-menu__links">
                        <a class="lead-menu__link" href="/sobrenos" title="Sobre nós">Sobre nós</a>
                    </li>
                    <li class="lead-menu__links">
                        <a class="lead-menu__link" href="https://blog.bemmaisseguro.com/" title="Blog">Blog</a>
                    </li>
                    <li class="lead-menu__links">
                        <a class="lead-menu__link" href="/faleconosco" title="Precisa de ajuda">Precisa de ajuda</a>
                    </li>
                </ul>
                <div class="menu-login">
                    <span class="material-icons menu-login__icon">face</span>
                    <div class="login login--no-logged">
                        <span class="login__title">Já tem seguro?</span>
                        <a class="login__link" href="" title="Faça seu login">Faça seu login.</a>
                    </div>
                    <div class="login login--logged">
                        <span class="login__title">Olá,</span>
                        <a class="login__link" title="Faça seu login">Beatriz</a>
                        <span class="material-icons lead-menu__icon">expand_more</span>
                        <ul class="sub-menu sub-menu--login">
                            <li>
                                <a class="sub-menu__link" href="/meusseguros" title="Meus seguros">Meus seguros</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/meusdados" title="Meus dados">Meus dados</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/alterarsenha" title="Alterar senha">Alterar senha</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="#" title="Clube Bem Mais">Clube Bem Mais</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/sair" title="Sair">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <section class="search-header">
            <div class="row">
                <div class="col-md-10 col-8">
                    <div class="icon-form icon-form--left">
                        <input type="search" class="search-header__input default-input" id="header-products" value="" placeholder="Busque seu aparelho" autocomplete="off">
                        <span class="material-icons">search</span>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <button type="submit" class="btn btn--solid">Buscar</button>
                </div>
            </div>
        </section>
    </div>
    <section class="header-mobile">
        <div class="container">
            <div class="menu-login menu-login--mobile">
                <span class="material-icons menu-login__icon">face</span>
                <div class="login login--no-logged">
                    <span class="login__title">Já tem seguro?</span>
                    <a class="login__link" href="" title="Faça seu login">Faça seu login.</a>
                </div>
                <div class="login login--logged">
                    <span class="login__title">Olá,</span>
                    <a class="login__link" title="Faça seu login">Beatriz</a>
                    <span class="material-icons lead-menu__icon">expand_more</span>
                </div>
            </div>
        </div>
        <div class="menu-mobile">
            <div class="menu-mobile__header">
                <span class="material-icons menu-mobile__btn-close btn-menu-mobile">close</span>
            </div>
            <nav class="container">
                <ul class="lead-menu">
                    <li class="lead-menu__links lead-menu__links--sub">
                        <a class="lead-menu__link"  title="Seguros">Seguros<span class="material-icons lead-menu__icon ">expand_more</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a class="sub-menu__link" href="/seguro-celular" title="Celular">Celular</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-notebook" title="Notebook">Notebook</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-tablet" title="Tablet">Tablet</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-smartwatch" title="Smartwatch">Smartwatch</a>
                            </li>
                            <li>
                                <a class="sub-menu__link" href="/seguro-fone-de-ouvido" title="Fone de ouvido">Fone de ouvido</a>
                            </li>
                        </ul>
                    </li>
                    <li class="lead-menu__links">
                        <a class="lead-menu__link" href="/sobrenos" title="Cancelar seguro">Cancelar seguro</a>
                    </li>
                    <li class="lead-menu__links">
                        <a class="lead-menu__link" href="https://blog.bemmaisseguro.com/" title="Blog">Blog</a>
                    </li>
                    <li class="lead-menu__links">
                        <a class="lead-menu__link" href="/faleconosco" title="Precisa de ajuda">Precisa de ajuda</a>
                    </li>
                </ul>
                <ul class="secundare-menu">
                    <li class="secundare-menu__links">
                        <a class="secundare-menu__link" href="/sobrenos" title="Sobre nós">Sobre nós</a>
                    </li>
                    <li class="secundare-menu__links">
                        <a class="secundare-menu__link" href="https://blog.bemmaisseguro.com/" title="Blog">Blog</a>
                    </li>
                    <li class="secundare-menu__links">
                        <a class="secundare-menu__link" href="/faleconosco" title="Precisa de ajuda">Precisa de ajuda</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="menu-logged-mobile">
            <div class="container">
                <nav>
                    <ul class="menu-logged-mobile__menu">
                        <li>
                            <a class="menu-logged-mobile__link" href="/meusseguros" title="Meus seguros">Meus seguros</a>
                        </li>
                        <li>
                            <a class="menu-logged-mobile__link" href="/meusdados" title="Meus dados">Meus dados</a>
                        </li>
                        <li>
                            <a class="menu-logged-mobile__link" href="/alterarsenha" title="Alterar senha">Alterar senha</a>
                        </li>
                        <li>
                            <a class="menu-logged-mobile__link" href="#" title="Clube Bem Mais">Clube Bem Mais</a>
                        </li>
                        <li>
                            <a class="menu-logged-mobile__link" href="/sair" title="Sair">Sair</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</header>