<section>
    <div class="container">
        <div class="row my-4">
            <div class="col">
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <h3 class="me-auto">TITLE</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="toast toast--primary show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <h3 class="me-auto">TITLE</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="toast toast--success show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <h3 class="me-auto">TITLE</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col">
                <div class="toast toast--warning show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <h3 class="me-auto">TITLE</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="toast toast--error show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <h3 class="me-auto">TITLE</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
</section>