

body {
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
}

header{
    grid-area: header;
    background-color: #aaa;
}
main{
    grid-area: main;
    background-color: #ccc;
}
footer{
    grid-area: footer;
}

.p-1 {
    padding: 1rem;
}